@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-urbanist: 'Urbanist', sans-serif;

    --color-purple-50: #f4f2f7;
    --color-purple-100: #e0dafc;
    --color-purple-200: #d4c9ff;
    --color-purple-500: #6c5dd3;
    --color-purple-600: #5a4dc0;
}

@layer base {
    body {
        @apply bg-white text-sm text-gray-800 antialiased;
    }
}