@import "tailwindcss";

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2424px); }
}

.animate-marquee {
    animation: marquee 60s linear infinite;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-urbanist: 'Urbanist', sans-serif;

    --color-purple-50: #f4f2f7;
    --color-purple-100: #e0dafc;
    --color-purple-200: #d4c9ff;
    --color-purple-500: #6c5dd3;
    --color-purple-600: #5a4dc0;
}

@layer base {
    body {
        @apply bg-white text-sm text-gray-800 antialiased;
    }
    button, [role="button"] {
        cursor: pointer;
    }
}